@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);

body, header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: auto;
}

body {
    background-color: #d8dbe2;
    background-size: cover;
}

header, footer {
    font-family: "Montserrat", sans-serif;
    padding: 0.45em;
    text-align: center;
    border-radius: 15px 15px;
  }

header, footer {
    background-color: #58a4b0;
    color: white;
    text-align: center;
    padding: 1em;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-size: 2em;
}

main {
    font-family: "Oswald", sans-serif;
    max-width: 600px;
}

nav {
    font-family: "Oswald", sans-serif;
    text-align: left;
}

#portrait {
    width: 200px;
    float: right;
    top: 15px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0;
}



