@import url('https://fonts.googleapis.com/css?family=PT+Serif:400i%7cRaleway&display=swap');

/* phone or baseline views **************************/
body {
	max-width: 900px;
	margin: auto;
}

header, footer{
	margin: auto;
	padding: 15px;
	font-family: "Raleway", sans-serif;
	text-align: center;
	background-color: #13315c;
	color: #e3e3e3;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
}

section {
	margin: 0.5rem;
	padding: 0 1rem;
	margin-left: 0;
	margin-right: 0;
	background-color: #e3e3e3;
}

img {
	box-shadow: 0 0 5px #333;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	section:nth-child(2) {
		display: block;
	}

	section:nth-child(3) {
		grid-column: span 2;
	}

	main picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #e3e3e3;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	section:nth-child(3) {
		grid-column: span 1;
	}