@import url('https://fonts.googleapis.com/css?family=PT+Serif:400i%7cRaleway&display=swap');

/* phone or baseline views **************************/
body {
	background-color: #f9e7e7;
	margin: auto;
	text-align: center;
}

main {
	display: grid;
	margin: auto;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;

}

header,
main,
footer {
	max-width: 960px;
}

header,
footer {
	margin: auto;
	padding: 15px;
	font-family: "PT Serif", serif;
	border-radius: 5px;
	background-color: #7d938a;
	color: whitesmoke;
}


h3 {
	font-family: "Raleway", sans-serif;
	padding: 15px;
	text-align: center;
}

section {
	margin: 1.5rem;
	border-radius: 5px;
	font-family: "Raleway", sans-serif;
	background-color: #ded6d6;
}

img {
	box-shadow: 0 0 5px #333;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	section:nth-child(2) {
		display: block;
	}

	section:nth-child(3) {
		grid-column: span 2;
	}

	main picture {
		display: block;
	}

	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #e3e3e3;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	section:nth-child(3) {
		grid-column: span 1;
	}