section {
    max-width: 600px;
    margin: .5rem auto;
    display: flex;
    flex-wrap: wrap;
}

div .cards {
    display: flex;
    flex-direction: row;
}

div .cards:nth-child(odd) {
    flex-direction: row-reverse;
}