nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #000;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}
.navigation a:hover {
	color: #000;
	background-color: #fff;
	font-weight: 700;
}

.responsive li {
	display: block;
}
/* Portrait and Landscape*/
@media screen 
    and (device-width: 360px)
    and (device-width: 640px)
    and (-webkit-device-pixel-ratio: 2) {

    }

/* Portrait*/
@media screen 
    and (device-width: 320px)
    and (device-height: 640px)
    and(-webkit-device-pixel-ratio: 2) {

    }

/* Landscape */
@media screen 
    and (device-width: 320px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ration: 2) {
        
    }