@media only screen and (min-width: 60em) {
    header img {
        width: 100%;
    }

    .headings h1 {
        font-size: 3rem;
    }

    .slogan {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }

    .active {
        color: black;
    }

    main {
        max-width: 90%;
        text-align: center;
        margin: auto;
    }

    h2 {
        font-family: "Cinzel Decorative", serif;
    }

    h3 {
        font-family: "Cinzel Decorative", serif;
        padding: 5px;
    }

    p {
        font-family: "Lato", sans-serif;
        padding: 5px;
    }

    main div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    main div section {
        margin: 0 auto;
        padding: 10px;
    }

    footer {
        margin-top: 10px;
    }
}