body {
    text-align: center;
    background-color: #4f6d7a;
}

h1 {
    font-family: "Merriweather", serif;
    color: #e8dab2
}

h2 {
    font-family: "Merriweather", serif;
    color: #4f6d7a;
}

p {
    font-family: "Montserrat", serif;
}

main div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

main div section {
    background-color: #c0d6df;
    
}

main div section img {
    width: 60%;
    box-shadow: 5px 5px 5px #6666;
}

footer {
    color: #e8dab2;
    padding: 15px;
    margin-top: 15px;
}

/*Tablet ---- Medium */
@media only screen and (min-width: 35em){
	main div {
		grid-template-columns: 1fr 1fr;
	}
}

/*Desktop ---- Small */
@media only screen and (min-width: 60rem){
	main div {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
