h1 {
    font-family: "Cinzel Decorative", serif;
}

form {
    width: 500px;
    padding: 20px;
    margin: 0, auto;
    background-color: #6699ff;
    border-radius: 10px;
    font-family: "Lato", sans-serif;
}

legend {
    font-family: "Cinzel Decorative", serif;
    font-weight: bold;
}



