html {
    font-family: "Ubuntu", sans-serif;
}

table{
    border: 2px solid whitesmoke;
    background-color: #e7f0ed;
}

td, th {
    border: solid white;
    text-align: center;
    padding: 10px 20px;
}

th{
    font-weight: bold;
    font-size: x-large;
    background-color: #7fb9c2;
}

tfoot {
    font-size: smaller;
    background-color: #7fb9c2;
}

.ch {
    background-color: #628ca6;
    font-weight: bold;
    color: white;
}

tr:nth-child(even) {
    background-color: #e7ffed;
}


