@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

table{
    font-family: "Ubuntu", sans-serif;
    border-collapse: collapse;
    border: 1px solid whitesmoke;
    margin: 0 auto;
    background-color: #e7ffed;
    box-shadow: 10px 10px 10px #628ca6;
}

th, tfoot {
    background-color: #7fb9c2;
    color: black;
}

td, th {
    border: 1px solid #afaeae;
    text-align: center;
    padding: 5px 10px;
}

th{
    font-weight: bold;
    font-size: x-large;
}

tfoot {
    font-size: smaller;
}

tbody tr:nth-child(1) {
    background-color: #628ca6;
    font-weight: bold;
    color: white;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}

span {
    font-style: italic;
}

.c4 {
    background-color: #628ca6;
    color: white
}
