@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative%7cLato&display=swap');

header {
    background-color: #3365a3;
    font-family: "Cinzel Decorative", serif;
    color: #f9f960;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100px;
    height: auto;
    filter: drop-shadow(5px 5px 5px #3e79c7);
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.slogan {
    color: white;
    font-style: italic;
    letter-spacing: 1pt;
    margin-left: 20px;
    font-size: .9rem;
}

nav {
    margin: 0 auto;
    background-color: #3365a3;
    font-family: "Lato", sans-serif;
    padding: 5px;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
}

.navigation a:hover {
    color: #3365a3;
    background-color: #6699ff;
    padding: 10px;
    color: white;
    font-weight: 600;
}

.active {
    background-color: #6699ff;
    color: white;   
}

.responsive li {
    display: block;
}


main {
    max-width: 820px;
    margin: 0 auto;
}

.city {
    text-align: center;
}

.herodiv {
    margin: 10px auto;
    position: relative;
}

h1, h2, p {
    margin: 0;
}

.weather {
    position: absolute;
	top: 25px;
	right: 50px;
    background: radial-gradient(#eee, #4567aa);
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;

}

h2 {
    font-family: "Cinzel Decorative", serif;
}

p {
    font-family: "Lato", sans-serif;
}

.forecast {
    display: none;
}

.article {
    background-color: #3e79c7;
    padding: 10px;
    border: 10px;
    margin: 15px auto;
    color: white;
}

.contact {
    background-color: #6699ff;
    position: relative;
    padding: 10px;
    border: 10px;
    margin: 15px auto;
}

.map {
    display: none;
}

footer {
    background-color: #3365a3;
    font-family: "Lato", sans-serif;
    text-align: center;
    color: #f9f960;
    padding: 15px;
}

/*-----Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}