/*Same for all pages*/
header {
    background-color: #3365a3;
    font-family: "Cinzel Decorative", serif;
    color: #f9f960;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100px;
    height: auto;
    filter: drop-shadow(5px 5px 5px #3e79c7);
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.slogan {
    color: white;
    font-style: italic;
    letter-spacing: 1pt;
    margin-left: 20px;
    font-size: .9rem;
}

nav {
    margin: 0 auto;
    background-color: #3365a3;
    font-family: "Lato", sans-serif;
    padding-top: 5px;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
}

.navigation a:hover {
    color: #3365a3;
    background-color: #f9f960;
    padding: 10px;
    color: #4478b8;
    font-weight: 600;
}

.active {
    display: inline;
    background-color: #6699ff;
    color: white;   
}

.responsive li {
    display: block;
    color: black;
}

.ham {
    font-family: "Lato", sans-serif;
    color: white;
}

main {
    max-width: 820px;
    margin: 0 auto;
}

h1, h2, p {
    margin: 0;
}

h2 {
    font-family: "Cinzel Decorative", serif;
}

p {
    font-family: "Lato", sans-serif;
}
footer {
    background-color: #3365a3;
    font-family: "Lato", sans-serif;
    text-align: center;
    color: #f9f960;
    padding: 15px;
}
/*Home Page*/
h3 {
    font-family: "Cinzel Decorative", serif;
    padding: 5px;
}

main.home {
    margin: auto;
    align-items: center;
}

main.home.article {
    background-color: #e2e2e2;
    border-radius: 5px 5px 5px 5px;
    grid-template-columns: 1fr;
    padding: 5px;
    margin: 15px;
}

main.home.article div {
    text-align: center;
}

main.home div {
    display: grid;
    grid-template-columns: 1fr;
}

main.home div section {
    background-color: #e2e2e2;
    background-origin: 5px 5px 5px 5px;
    max-width: 400px;
    margin: auto;
}

main.home div section img {
    max-width: 350px;
    filter: drop-shadow(5px 5px 5px 5px rgba(63, 62, 62, 0.4));
}

main.home div h3 {
    font-style: italic;
}

main.home div p {
    font-size: larger;
}


/*City Pages*/
.city {
    text-align: center;
}

picture.town {
    display: block;
}

main picture.town img {
    width: 100%;
}

.herodiv {
    margin: 10px auto;
    position: relative;
}

.weather {
    position: absolute;
	top: 25px;
	left: 50px;
    background: radial-gradient(#eee, #4567aa);
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;
}

.forecast {
    display: none;
}

main.events {
    width: 400px;
    margin: 0 auto;
    background-color: #f9f960;
}

.article {
    background-color: #3365a3;
    padding: 20px;
    border: 10px;
    margin: 15px auto;
    position: relative;
    color: white;
}

.link {
    color: #f9f960;
}

.team {
    max-width: 600px;
    height: auto;
    box-shadow: 0 0 5px #111;
}

.name {
    font-family: "Lato", sans-serif;
    font-weight: 600;
}

.info {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

/*Gallery*/
main.gallery {
    margin: auto;
    align-items: center;
}

main.gallery h3 {
    font-family: "Cinzel Decorative", serif;
    padding: 5px;
}

main.gallery p {
    padding: 5px;
}

@media only screen and (max-width: 32.5em) {
    .map {
        display:none;
    }
}

/*Storm Center and Thanks Page*/
main.storm {
    margin: 0 auto;
}

main.storm h1 {
    font-family: "Cinzel Decorative", serif;
}

main.storm form {
    display: block;
    max-width: 800px;
    padding: 20px;
    background-color: #97dffc;
    border-radius: 10px;
    font-family: "Lato", sans-serif;
}

main.storm legend {
    font-family: "Cinzel Decorative", serif;
    font-weight: bold;
    font-size: larger;
}

main.storm form label.ltop, form div {
    display: block;
    padding: 10px;
}

main.storm .ltop input, main.storm .ltop select, main.storm textarea {
    display: block;
    width: 75%;
    padding: 10px;
}

main.storm fieldset {
    border: solid 2px white;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
}

main.storm .ltop {
    display: block;
    padding: 15px;
}

main.storm select {
    padding: 10px;
    margin: 5px;
}

main.storm .rv {
    display: block;
    padding: 5px;
}

main.storm .ltop input:required:invalid {
    border-left: #e3e339 solid 10px;
}

main.storm .ltop input:required:valid {
    border-left: #999 solid 5px;
}

main.storm textarea {
    padding: 5px;
    margin: 5px;
}

main.storm .button {
    padding: 5px;
    margin: 5px;
}

main.storm .em {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: larger;
}

main.thanks p {
    font-family: "Lato", sans-serif;
}

main.storm footer, main.thanks footer{
    margin-top: 20px;
}

/*-----Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}