/*Media Query for medium + screens */
@media only screen and (min-width: 35em) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: #827867;
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    /* Home Page*/
    home.container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    home.photos img {
        height: auto;
        margin: 10px;
        padding: .5rem;
        filter: blur(0em);
        transition: filter 0.5s;
    }
}