.slogan {
    font-family: "Raleway", sans-serif;
    font-size: larger;
    font-style: italic;
}

.hphoto {
    width: 100%;
}

.logo {
    position: absolute;
    left: 5px;
}

header {
    background-color: #A25122;
    color: #0D2310;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #CCC2B9;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

nav {
    margin: 0 auto;
    background-color: #A25122;
    font-family: "Cabin", sans-serif;
    color: #0D2310;
    padding-top: 5px;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
}

.navigation a:hover {
    color: #0D2310;
    background-color: #537c25;
    padding: 15px;
    font-weight: 600;
}

.active {
    display: inline;
    color: black;
    padding: 15px;
}

.responsive li {
    display: block;
    color: black;
}

.ham {
    font-family: "Cabin", sans-serif;
    color: white;
}

h2, h3 {
    font-family: "Cabin", sans-serif;
}

/* Home Page*/
.first {
    padding: 20px;
    border: 10px;
    margin: 15px auto;
    position: relative;
    color: #0D2310;
}

.second {
    background-color: #A25122;
    padding: 20px;
    border: 10px;
    margin: 15px auto;
    position: relative;
    color: #CCC2B9;
}

.rphoto,
.sphoto {
    max-width: 400px;
    box-shadow: 0 0 5px #111;
}

.link {
    color: #0D2310;
}

/* Home Page */
home.photos {
    margin: auto;
    align-items: center;

}

home.photos img {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px, solid black;
    padding: 2px;
    filter: blur(0em);
    transition: filter 1s;
}

home.photos h3 {
    font-family: "Raleway", sans-serif;
    padding: 5px;
}

home.photos p {
    padding: 5px;
}

home.photos img[data-src] {
    filter: blur(.5em);
}

/* Reservation Page */
main.reserve {
    margin: 20px;
}

.reserve h1 {
    font-family: "Raleway", sans-serif;
}

form {
    display: block;
    max-width: 800px;
    padding: 20px;
    background-color: #537c25;
    border-radius: 10px;
    font-family: "Cabin", sans-serif;
}

legend {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: x-large;
}

form .ltop input, .ltop select, textarea {
    display: block;
    width: 75%;
    padding: 10px;
}

select {
    padding: 10px;
    margin: 5px;
}

form label.ltop, form div {
    display: block;
    padding: 10px;
}

fieldset {
    border: solid 4px #CCC2B9;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
}

.ltop input:required:invalid {
    border-left: red solid 7px;
}

.ltop input:required:valid {
    border-left: #999 solid 7px;
}

textarea {
    padding: 5px;
    margin: 5px;
}

.button {
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}


footer {
    background-color: #A25122;
    font-family: "Cabin", sans-serif;
    padding: 20px;
}

/*-----Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}