body {
    background-color: #CCC2B9;
}

h1,
.slogan {
    font-family: "Raleway", sans-serif;
}

.hphoto {
    width: 100%;
}

.logo {
    position: absolute;
    left: 5px;
}

header {
    background-color: #A25122;
    color: #0D2310;
    align-items: center;
    justify-content: center;
}

nav {
    margin: 0 auto;
    background-color: #A25122;
    font-family: "Cabin", sans-serif;
    color: #0D2310;
    padding-top: 5px;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
}

.navigation a:hover {
    color: #0D2310;
    background-color: #537c25;
    padding: 10px;
    color: #CCC2B9;
    font-weight: 600;
}

.active {
    display: inline;
    color: white;
}

.responsive li {
    display: block;
    color: black;
}

.ham {
    font-family: "Cabin", sans-serif;
    color: white;
}

/* Home Page*/
.first, .second{
    background-color: #A25122;
    padding: 20px;
    border: 10px;
    margin: 15px auto;
    position: relative;
    color: #CCC2B9;
}

.rphoto, .sphoto {
    max-width: 400px;
    box-shadow: 0 0 5px #111;
}

.link {
    color:#0D2310;
}

home.photos {
    margin: 0 auto;
    align-items: center;
}

home.photos h3 {
    font-family: "Raleway", sans-serif;
    padding: 5px;
}

home.photos p {
    padding: 5px;
}

home.photos img {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px, solid black;
    padding: 2px;
    filter: blur(0em);
    transition: filter 1s;
}

home.photos img[data-src] {
    filter: blur(.5em);
}



/* */
footer {
    background-color: #A25122;
    font-family: "Cabin", sans-serif;
    padding: 20px;
}

/*-----Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}