body {
    background-color: #CCC2B9;
}

h1, .slogan{
    font-family: "Raleway";
}

.hphoto {
    width: 100%;
}

.logo {
        position: absolute;
        top: 5px;
        left: 5px;
        padding: 1.5rem;
}

header {
color: #0D2310;
align-items: center;
justify-content: center;
}

nav {
    margin: 0 auto;
    background-color: #A25122;
    font-family: "Cabin";
    padding-top: 5px;
}
