@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative%7cLato&display=swap');

body,
header,
nav,
main,
footer {
    margin: auto;
    max-width: 1000px;
}

header,
footer {
    font-family: "Cinzel Decorative", serif;
    padding: 15px;
    text-align: center;
    color: #f9f960;
    background-color: #3365a3;
}

h2{
    font-family: "Lato", sans-serif;
}

.icon {
    box-align: left;
}