@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative%7cLato&display=swap');

body,
header,
nav,
main,
footer {
    margin: auto;
    max-width: 1000px;
}

header,
footer {
    padding: 15px;
    border-radius: 0;
    text-align: left;
    color: #f9f960;
    background-color: #3365a3;
}

h1 {
    font-family: "Cinzel Decorative", serif;
}

h2 {
    font-family: "Lato", sans-serif;
}

nav {
    font-family: "Lato", sans-serif;
    padding: 15px;
    text-align: center;
    background-color: #3365a3;
    color: #e3e339;
}

.logo {
    box-shadow: black;
}